# MariaDB 10.4 repository list - created 2021-10-07 13:51 UTC
# http://downloads.mariadb.org/mariadb/repositories/
deb [arch=amd64] https://suro.ubaya.ac.id/mariadb/repo/10.4/ubuntu focal main
deb-src https://suro.ubaya.ac.id/mariadb/repo/10.4/ubuntu focal main